<a href="https://colab.research.google.com/github/jayslabios/DSA-58010/blob/main/Python_Module.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Example 1

In [3]:
 import array
 array.typecodes 

 A = array.array('i',[1,2,3,4,5,6]) #initialize the elements of array A
 B = array.array('f',[1,5,2,5,3,5,4,5,5,5,6,5]) #initialize the elements of array B
 print(A.typecode)
 print(B.typecode)

i
f

Example 2.Creat/Convert the elements of array A to float/decimal number

In [4]:
A = array.array('f',[1,2,3,4,5,6]) #initializing the elements of array A
print(A)

array('f', [1.0, 2.0, 3.0, 4.0, 5.0, 6.0])

Exmaple 3

In [12]:
import array 
a = array.array ('i',[4,5,6,7]) #initializing array a
b = array.array ('i',[1,2,3]) #initializing array b
a.insert(1,2) #inserting element:2 at index: 1
print(a)
A.insert(-1,0) #insert element:0 to index: -1
print(a)
A.insert(6,8) #insert element: 8 to index: 6 which is out of range
print(a) #append the last element of the array
b[0] = 5
b[1] = 4
b[2] = 3
print(b)

array('i', [4, 2, 5, 6, 7])
array('i', [4, 2, 5, 6, 7])
array('i', [4, 2, 5, 6, 7])
array('i', [5, 4, 3])

Linked Lists

In [13]:
#function that creates node object

class Node:
  def __init__(self,data):
    self.data = data    # assign data
    self.next = None    # initialize as null

#function that creates Linked-list object

class LinkedList:
  def __init(self):
    self.head = None   #initialize head as null

  def printList(self):
    temp = self.head
    while(temp!=None):
      print(temp.data)
      temp = temp.next

list = LinkedList()    #empty list
list.head = Node(1)
second = Node(2)
third = Node(3)
fourth = Node(4)

list.head.next=second
second.next = third
third.next = fourth

list.printList()

1
2
3
4